$light-green: #68cc4f;
$pastel-green: #66925b;
$dark-green: #132e11;
$red: #c02424;
$white: #fff;
$grey: #3a3a3a;
$grey-two: #545454;
$half-dark: #1e1e1e;
$black: #000;

$main-gradient: linear-gradient(70deg, #66925b 0%, #1e1e1e 90%);
$main-gradient2: linear-gradient(120deg, #66925b 0%, #32472e 70%);
