@use './colors' as c;
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	scroll-padding-top: 70px;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

h1 {
	text-align: center;
	font-size: 3.6rem;
	margin: 10px 0;
}

h3 {
	font-size: 2.4rem;
	font-weight: 300;
}

a {
	// font-size: 1.6rem;
	text-decoration: none;
	color: c.$half-dark;

	&:active {
		text-decoration: none;
		color: c.$half-dark;
	}
	&:visited {
		text-decoration: none;
		color: c.$half-dark;
	}
}

img {
	height: auto;
	width: 100%;
	max-width: 530px;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	display: flex;
	// justify-content: center;
	align-items: center;
	font-size: 1.6rem;
	list-style-type: none;

	li {
		margin: 20px 15px;
	}
}

footer {
	padding: 10px 0;
	margin-top: 20px;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section-title {
	margin-bottom: 30px;
	font-weight: 300;
	text-align: center;
	font-size: 3.6rem;
}

.text-heading {
	margin: 30px;
	font-weight: 700;
	font-size: 1.8rem;
}

.text-content {
	margin: 0 20px;
	text-align: left;
	font-size: 1.4rem;
	line-height: 25px;
}

// -----------------------------------------

// NAVIGATION MOBILE =======================

.navbar {
	position: fixed;
	display: flex;
	justify-content: space-between;
	top: 0;
	height: 55px;
	width: 100%;
	background-color: c.$white;
	transition: 0.3s;
	z-index: 300;

	.logo {
		display: flex;
		align-items: center;
		height: 100%;
		margin-left: 15px;
		padding: 20px 10px;
		color: c.$half-dark;
		font-size: 2.4rem;
		text-decoration: none;
		cursor: pointer;

		i {
			font-size: 3rem;
			margin-right: 5px;
		}

		&:hover a {
			color: c.$black;
		}
	}

	.tabs {
		position: absolute;
		display: none;
		top: 0;
		left: 50%;
		// background-color: tomato;

		.nav-item {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 55px;
			width: 75px;
			font-size: 1.2rem;
			transition: 0.2s;

			&:hover {
				background-color: c.$black;
				color: c.$white;
			}
		}
	}

	.site-title {
		// display: flex;
		display: none;
		align-items: center;
	}

	.burger-btn {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 100%;
		background-color: c.$black;
		cursor: pointer;

		&__icon {
			button {
				background: none;

				i {
					color: c.$white;
					font-size: 4rem;
				}
			}

			.fa-bars {
				display: none;
			}
		}

		.active {
			.fa-bars {
				display: block;
			}
			.fa-xmark {
				display: none;
			}
		}
	}
}

.scroll-active {
	background-color: c.$black;
	color: c.$white !important;
}

.side-nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	transform: translateX(100%);
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	background-color: c.$half-dark;
	z-index: 10;

	&__box {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-top: 50px;
		font-size: 2rem;

		a {
			color: c.$white;
		}

		i {
			color: c.$white;
		}

		.nav-item {
			margin: 15px 0;
			padding: 15px;
			width: 250px;
			text-align: center;
			border: 2px solid #545454;
			cursor: pointer;
		}

		.home {
			margin: 15px 0;
			width: 100vw;
			background-image: linear-gradient(-60deg, #16a084a2 0%, #bbf43f7d 100%);
			text-align: center;
			border: none;
			box-shadow: 0 6px 2px #3a3a3a;
		}

		.social {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			padding: 0;
			width: 40px;
			font-size: 4rem;
			border: none;

			i {
				margin: 0 20px;
				width: 40px;
			}
		}
	}
}

.visible {
	transform: translateX(0);
}

// ========================================
// MAIN SECTION

.hero {
	position: relative;
	top: 55px;
	height: 60vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
		url('../img/jungle-small.jpg');
	background-position: center;
	background-size: cover;
	filter: contrast(1.05);
	color: c.$white;

	&__text {
		position: absolute;
		top: 10%;
		margin: 30px;
		text-align: center;

		h1 {
			font-size: 3rem;
		}

		h3 {
			font-size: 2rem;
		}
	}

	.fa-chevron-down {
		position: absolute;
		bottom: 10%;
		left: 50%;
		transform: translateX(-50%);
		color: c.$white;
		font-size: 4rem;
		z-index: 1000;
	}
}

.aboutus {
	margin-top: 100px;
	text-align: center;
	.content-box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}
}
.offer {
	margin-top: 500px;
}

// MEDIA =======================================================

@media (min-width: 375px) {
	.side-nav {
		&__box {
			margin-top: 70px;
			.nav-item {
				width: 300px;
				margin: 20px 0;
			}
			.home {
				width: 100vw;
			}

			.social {
				margin-top: 20px;
			}
		}
	}

	.hero {
		&__text {
			top: 20%;

			h1 {
				font-size: 3.6rem;
			}

			h3 {
				font-size: 2.4rem;
			}
		}

		.fa-chevron-down {
			font-size: 4.6rem;
		}
	}

	.aboutus {
		.text-content {
			font-size: 1.6rem;
		}
	}
}

@media (min-width: 768px) {
	.navbar {
		.burger-btn {
			display: none;
		}

		.logo {
			margin-left: 100px;
		}

		.tabs {
			display: flex;
		}
	}

	.hero {
		z-index: 1;
		&__text {
			top: 30%;
			left: 50%;
			margin: 0;
			transform: translateX(-50%);
		}
		.fa-chevron-down {
			display: none;
		}
	}

	.aboutus {
		.text-heading {
			margin-top: 40px;
			font-size: 2.2rem;
		}

		.text-content {
			margin: 20px 50px;
			font-size: 1.8rem;
			line-height: 35px;
		}
	}
}

@media (min-width: 992px) {
	.navbar {
		height: 70px;
		.tabs {
			.nav-item {
				height: 70px;
				width: 110px;
				font-size: 1.6rem;
			}
		}
	}

	.hero {
		top: 70px;
		height: 50vh;
		background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
			url('../img/jungle-big.jpg');

		&__text {
			top: 35%;
			left: 10%;
			transform: translateX(0);
			text-align: left;
		}
	}

	.section-title {
		margin-bottom: 40px;
	}

	.aboutus {
		margin-top: 120px;

		.text-heading {
			font-size: 2.4rem;
		}

		.text-content {
			margin: 20px 70px;
		}
	}
}

@media (min-width: 1100px) {
	.navbar {
		.tabs {
			left: 60%;
		}

		.logo {
			margin-left: 200px;
		}
	}

	.hero {
		&__text {
			left: 208px;
		}
	}

	.aboutus {
		.content-box {
			justify-content: flex-end;
			flex-direction: row;
			text-align: left;

			.text-heading {
				margin: 0 20px 20px 70px;
			}

			.text-content {
				margin: 20px 20px 20px 70px;
				font-size: 1.6rem;
			}
		}
	}
}
