@use "./colors" as c;
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  // height: 100%;
  font-family: "Montserrat", sans-serif;
  scroll-padding-top: 70px;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  font-size: 3.6rem;
  margin: 10px 0;
}

h3 {
  font-size: 2.4rem;
  font-weight: 300;
}

a {
  // font-size: 1.6rem;
  text-decoration: none;
  color: c.$half-dark;

  &:active {
    text-decoration: none;
    color: c.$half-dark;
  }
  &:visited {
    text-decoration: none;
    color: c.$half-dark;
  }
}

img {
  height: auto;
  width: 100%;
  max-width: 530px;
}

input,
button,
textarea,
select {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
}

textarea {
  resize: vertical;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  display: flex;
  // justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  list-style-type: none;

  li {
    margin: 20px 15px;
  }
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.section-title {
  margin-bottom: 30px;
  font-weight: 300;
  text-align: center;
  font-size: 3.6rem;
}

.text-heading {
  margin: 30px;
  font-weight: 700;
  font-size: 1.8rem;
}

.text-content {
  margin: 0 20px;
  text-align: left;
  font-size: 1.4rem;
  line-height: 25px;
}

// -----------------------------------------

// NAVIGATION MOBILE =======================

.navbar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  height: 55px;
  width: 100%;
  background-color: c.$white;
  transition: 0.3s;
  z-index: 300;

  .logo {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 15px;
    padding: 20px 10px;
    color: c.$half-dark;
    font-size: 2.4rem;
    text-decoration: none;
    cursor: pointer;

    i {
      font-size: 3rem;
      margin-right: 5px;
    }

    &:hover a {
      color: c.$black;
    }
  }

  .tabs {
    position: absolute;
    display: none;
    top: 0;
    left: 50%;
    // background-color: tomato;

    .nav-item {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 55px;
      width: 75px;
      font-size: 1.2rem;
      transition: 0.2s;

      &:hover {
        background-color: c.$black;
        color: c.$white;
      }
    }
  }

  .site-title {
    // display: flex;
    display: none;
    align-items: center;
  }

  .burger-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 100%;
    background-color: c.$black;
    cursor: pointer;

    &__icon {
      button {
        background: none;

        i {
          color: c.$white;
          font-size: 4rem;
        }
      }

      .fa-bars {
        display: none;
      }
    }

    .active {
      .fa-bars {
        display: block;
      }
      .fa-xmark {
        display: none;
      }
    }
  }
}

.scroll-active {
  background-color: c.$black;
  color: c.$white !important;
}

.side-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  transform: translateX(100%);
  transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
  background-color: c.$half-dark;
  z-index: 10;

  &__box {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    font-size: 2rem;

    a {
      color: c.$white;
    }

    i {
      color: c.$white;
    }

    .nav-item {
      margin: 15px 0;
      padding: 15px;
      width: 250px;
      text-align: center;
      border: 2px solid #545454;
      cursor: pointer;
    }

    .home {
      margin: 15px 0;
      width: 100vw;
      background-image: linear-gradient(-60deg, #16a084a2 0%, #bbf43f7d 100%);
      text-align: center;
      border: none;
      box-shadow: 0 6px 2px #3a3a3a;
    }

    .social {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding: 0;
      width: 40px;
      font-size: 4rem;
      border: none;

      i {
        margin: 0 20px;
        width: 40px;
      }
    }
  }
}

.visible {
  transform: translateX(0);
}

// ========================================
// MAIN SECTION

.hero {
  position: relative;
  top: 55px;
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("../img/jungle-small.jpg");
  background-position: center;
  background-size: cover;
  filter: contrast(1.05);
  color: c.$white;

  &__text {
    position: absolute;
    top: 10%;
    margin: 30px;
    text-align: center;

    h1 {
      font-size: 3rem;
    }

    h3 {
      font-size: 2rem;
    }
  }

  .fa-chevron-down {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    color: c.$white;
    font-size: 4rem;
    z-index: 1000;
  }
}

.aboutus {
  margin-top: 100px;
  text-align: center;
  .content-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.adventure {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
    url("../img/girl-small.jpg");
  background-position: center;
  background-size: cover;

  .text-heading {
    padding: 10px 30px;
    color: c.$white;
    border: 1px solid white;
  }
}
.offer {
  // display: flex;
  // justify-content: center;

  .text-heading {
    font-weight: 300;
    text-align: center;
  }

  .offer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .offer-box {
      display: flex;
      flex-direction: column;
      margin: 20px;
      margin-top: 0;

      .offer-card {
        min-width: 220px;
        max-width: 300px;
        margin: 20px 20px 40px 20px;
        padding: 10px;
        box-shadow: 1px 2px 10px 1px rgba(193, 193, 193, 1);
        border-radius: 10px;

        &__title {
          margin: 10px;
          font-size: 1.6rem;
        }

        &__price {
          margin-bottom: 20px;
          font-size: 1.8rem;
          font-weight: 700;
        }

        &__options {
          flex-direction: column;
          align-items: start;
          font-size: 1.2rem;
          margin-left: 20px;

          .option {
            margin: 8px;
          }

          .in {
            color: c.$black;
          }

          .out {
            color: c.$grey-two;
          }

          .fa-check {
            margin-right: 5px;
            color: c.$light-green;
          }

          .fa-minus {
            margin-right: 5px;
            color: c.$red;
          }
        }

        &__pick {
          margin: 15px;
          padding: 8px 25px;
          background: none;
          color: c.$black;
          box-shadow: 0px 1px 10px 1px rgba(193, 193, 193, 1);
          border-radius: 10px;
          transition: 0.3s;

          &:hover {
            background-color: c.$pastel-green;
            color: c.$white;
          }
        }

        .default {
          background-color: c.$light-green;
          color: c.$white;
        }
      }
    }
  }
}

.see-all {
  display: flex;
  justify-content: center;
  align-items: center;
  // margin-bottom: 30px;
  background-color: #2b2727;
  background-image: linear-gradient(rgba(15, 49, 19, 0.8), rgba(8, 33, 12, 0.8)),
    url("../img/brown-forest-small.jpg");
  background-attachment: fixed;
  background-position: bottom;

  .text-heading {
    padding: 10px 30px;
    color: c.$white;
    border: 1px solid white;
    transition: 0.3s;

    .arrows {
      transition: 0.3s;
    }

    &:hover {
      margin-left: 40px;
    }

    &:hover .arrows {
      margin-left: 20px;
    }
  }
}

// ================================================================
// Footer section

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px 0;
  padding-top: 20px;
  background-color: c.$footer-grey;

  &__logo-section {
    font-size: 2.4rem;

    i {
      font-size: 3rem;
      margin-right: 5px;
    }
  }

  &__tabs-section {
    display: flex;
    justify-content: space-around;
    align-items: top;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;

    .title {
      margin-bottom: 8px;
      font-size: 1.4rem;
      font-weight: 700;
    }

    .link {
      margin-bottom: 5px;
      color: c.$grey;
      font-size: 1.2rem;
    }
  }

  hr {
    height: 3px;
    width: 100%;
    margin: 5px 0;
    background-color: c.$half-dark;
  }

  &__copyright-section {
    margin: 5px;
    color: c.$grey;
    font-size: 1.2rem;
  }
}

// ================================================================
// Contact Page

.nav-contact-page {
  .navbar {
    justify-content: space-between;

    .site-title {
      display: flex;
      margin-right: 30px;

      .offer-title {
        display: none;
      }

      h1 {
        font-size: 2.8rem;
        font-weight: 300;
      }
    }

    .tabs {
      display: none;
    }

    .burger-btn {
      display: none;
    }
  }

  .side-nav {
    display: none;
  }
}

.contact-page {
  background-color: c.$half-dark;
}

.contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 55px;
  padding: 40px 20px;
  color: c.$white;

  .section-caption {
    margin-bottom: 40px;
    text-align: center;
    font-size: 1.4rem;
  }

  .wrapper {
    .form-section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &__box--left {
        text-align: center;

        .form-control {
          margin-bottom: 25px;
          padding: 10px 30px;
          width: 90%;
          background: none;
          color: c.$white;
          border: 2px solid #efefef;
          border-radius: 5px;
        }

        .checkbox {
          display: flex;
          justify-content: center;
          margin-bottom: 15px;
          color: c.$grey-two;

          input {
            margin-right: 5px;
          }
        }

        .send-button {
          padding: 10px 25px;
          background: none;
          color: c.$white;
          border: 2px solid c.$pastel-green;
          border-radius: 5px;
          transition: 0.3s;

          &:hover {
            color: c.$light-green;
          }
        }
      }
    }
  }
}

.map {
  iframe {
    width: 100%;
    overflow: hidden;
  }
}

// =============================================================
// OFFER PAGE

.offer-page {
  background-color: c.$half-dark;

  .offer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 55px;
    padding: 40px 20px;
    color: c.$white;

    .offer-box {
      .offer-card {
        box-shadow: 0px 1px 5px 1px rgb(94, 94, 94);
        &__options {
          .in {
            color: c.$white;
          }

          .special {
            margin-left: 20px;
            color: c.$light-green;
            i {
              margin-right: 5px;
            }
          }
        }

        &__pick {
          color: c.$white;
          box-shadow: 0px 1px 5px 1px rgb(94, 94, 94);
        }
      }

      .ultimate {
        box-shadow: 0px 1px 5px 1px #66925b;
      }
    }

    .section-caption {
      margin-bottom: 40px;
      text-align: center;
      font-size: 1.4rem;
    }
  }
}

.nav-offer-page {
  .navbar {
    justify-content: space-between;

    .site-title {
      display: flex;
      margin-right: 30px;

      .contact-title {
        display: none;
      }

      h1 {
        font-size: 2.8rem;
        font-weight: 300;
      }
    }

    .tabs {
      display: none;
    }

    .burger-btn {
      display: none;
    }
  }

  .side-nav {
    display: none;
  }
}

// MEDIA =======================================================

@media (min-width: 375px) {
  .side-nav {
    &__box {
      margin-top: 70px;
      .nav-item {
        width: 300px;
        margin: 20px 0;
      }
      .home {
        width: 100vw;
      }

      .social {
        margin-top: 20px;
      }
    }
  }

  .hero {
    &__text {
      top: 20%;

      h1 {
        font-size: 3.6rem;
      }

      h3 {
        font-size: 2.4rem;
      }
    }

    .fa-chevron-down {
      font-size: 4.6rem;
    }
  }

  .aboutus {
    .text-content {
      font-size: 1.6rem;
    }
  }

  .adventure {
    height: 130px;

    .text-heading {
      padding: 20px 35px;
    }
  }

  .offer {
    .offer__container {
      .offer-box {
        .offer-card {
          min-width: 250px;
          padding: 20px;

          &__pick {
            padding: 12px 40px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .navbar {
    .burger-btn {
      display: none;
    }

    .logo {
      margin-left: 100px;
    }

    .tabs {
      display: flex;
    }
  }

  .hero {
    z-index: 1;
    &__text {
      top: 30%;
      left: 41px;
      margin: 0;
      transform: translateX(-50%);
    }
    .fa-chevron-down {
      display: none;
    }
  }

  .aboutus {
    .text-heading {
      margin-top: 40px;
      font-size: 2.2rem;
    }

    .text-content {
      margin: 20px 50px;
      font-size: 1.8rem;
      line-height: 35px;
    }
  }

  .text-heading {
    font-size: 2.2rem;
  }

  .adventure {
    height: 160px;

    .text-heading {
      padding: 30px 60px;
    }
  }

  .offer {
    .offer__container {
      .offer-box {
        flex-direction: row;
        overflow: auto;

        .offer-box::-webkit-scrollbar {
          height: 0;
          width: 0;
        }
        // margin-left: 200px;
        .offer-card {
          min-width: 250px;
          padding: 20px;
        }
      }
    }
  }

  .footer {
    &__tabs-section {
      .title {
        font-size: 1.8rem;
      }
      .link {
        font-size: 1.4rem;
      }
    }
  }

  // ==============================================================

  .nav-contact-page .navbar,
  .nav-offer-page .navbar {
    justify-content: space-around;

    .logo {
      margin: 0;
    }
  }

  .contact {
    margin-top: 100px;
    .wrapper {
      .form-section {
        &__box--left {
          .form-control {
            margin-bottom: 40px;
            padding: 20px 40px;
            width: 70%;
          }
        }
      }
    }
  }

  .map {
    margin: 60px 0;
    iframe {
      height: 350px;
      // width: 80%;
      overflow: hidden;
    }
  }

  // ==============================================================

  .offer-page {
    .offer {
      .offer__container {
        .offer-box {
          justify-content: center;
          flex-direction: row;
          flex-wrap: wrap;
          overflow: hidden;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .navbar {
    height: 70px;
    .tabs {
      .nav-item {
        height: 70px;
        width: 110px;
        font-size: 1.6rem;
      }
    }
  }

  .hero {
    top: 70px;
    height: 50vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../img/jungle-big.jpg");

    &__text {
      top: 35%;
      left: 10%;
      transform: translateX(0);
      text-align: left;
    }
  }

  .section-title {
    margin-bottom: 40px;
  }

  .aboutus {
    margin-top: 120px;

    .text-heading {
      font-size: 2.4rem;
    }

    .text-content {
      margin: 20px 70px;
    }
  }

  .text-heading {
    font-size: 3rem;
  }

  .adventure {
    height: 200px;
    margin: 60px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)),
      url("../img/girl-big.jpg");

    .text-heading {
      padding: 40px 100px;
    }
  }

  .offer {
    .text-heading {
      font-size: 2.4rem;
    }

    .offer__container {
      .offer-box {
        overflow: hidden;
      }
    }
  }

  .footer {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row;

    &__logo-section {
      height: 100px;
      margin-right: 200px;
      .logo__img {
        font-size: 3rem;
      }
    }

    &__tabs-section {
      justify-content: end;
      max-width: 500px;
      margin-bottom: 50px;

      .title {
        margin: 12px 0;
        font-size: 2.2rem;
      }
      .link {
        margin: 10px 0;
        font-size: 1.6rem;
      }

      &--aboutus {
        margin-right: 50px;
      }
      &--company {
        margin-right: 50px;
      }
      &--documents {
        margin-right: 50px;
      }
    }

    hr {
      position: absolute;
      bottom: 20px;
    }

    &__copyright-section {
      position: absolute;
      bottom: 0;
    }
  }
}

@media (min-width: 1100px) {
  // body {
  //   margin-right: 20px;
  // }

  .navbar {
    .tabs {
      left: 60%;
    }

    .logo {
      margin-left: 200px;
    }
  }

  .hero {
    &__text {
      top: 250px;
      left: 208px;
    }
  }

  .aboutus {
    .content-box {
      justify-content: flex-end;
      flex-direction: row;
      text-align: left;

      .text-heading {
        margin: 0 20px 20px 70px;
      }

      .text-content {
        margin: 20px 20px 20px 70px;
        font-size: 1.6rem;
      }
    }
  }

  .text-heading {
    font-size: 3.6rem;
  }

  .adventure {
    height: 260px;

    .text-heading {
      padding: 40px 100px;
    }
  }

  .offer .offer__container .offer-box .offer-card {
    width: 300px;
    max-width: 300px;

    &__title {
      margin: 15px;
      font-size: 2.6rem;
    }

    &__price {
      font-size: 2.8rem;
    }

    &__options {
      margin-left: 25px;
      font-size: 1.6rem;
    }

    &__pick {
      margin: 25px;
      padding: 12px 50px;
    }
  }

  .footer {
    &__tabs-section {
      margin-bottom: 80px;
      .title {
        margin: 18px 0;
      }
      .link {
        margin: 14px 0;
      }
    }

    hr {
      margin: 40px 0;
    }
    &__copyright-section {
      margin: 20px;
      font-size: 1.4rem;
    }
  }

  // ============================================================

  .map {
    iframe {
      height: 450px;
      // width: 80%;
      overflow: hidden;
    }
  }
}

@media (min-width: 1400px) {
  .contact {
    margin-top: 100px;

    .section-caption {
      font-size: 1.8rem;
    }

    .wrapper {
      .form-section {
        &__box--left {
          .form-control {
            margin-bottom: 40px;
            padding: 30px 60px;
            width: 100%;
          }

          .message-text {
            min-height: 350px;
          }
        }
      }
    }
  }

  .map {
    iframe {
      height: 450px;
      // width: 80%;
      overflow: hidden;
    }
  }

  .offer-page {
    .offer {
      margin-top: 100px;
      .section-caption {
        font-size: 1.8rem;
      }
    }
  }
}
