@use './colors' as c;
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	font-family: 'Montserrat', sans-serif;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

h1 {
	text-align: center;
	font-size: 3.6rem;
	margin: 20px 0;
}

a {
	// font-size: 1.6rem;
	text-decoration: none;

	&:active {
		text-decoration: none;
		color: #000;
	}
	&:visited {
		text-decoration: none;
		color: #000;
	}
}

img {
	height: auto;
	width: 100%;
	max-width: 600px;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

textarea {
	resize: vertical;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

ul {
	display: flex;
	// justify-content: center;
	align-items: center;
	font-size: 1.6rem;
	list-style-type: none;

	li {
		margin: 20px 15px;
	}
}

footer {
	padding: 10px 0;
	margin-top: 20px;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

// -----------------------------------------

// NAVIGATION MOBILE =======================

.navbar {
	position: fixed;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 55px;
	background-color: c.$white;
	transition: 0.3s;
	z-index: 30;

	.logo {
		display: flex;
		align-items: center;
		height: 100%;
		margin-left: 15px;
		padding: 20px 10px;
		color: c.$black;
		font-size: 2.4rem;
		text-decoration: none;
		cursor: pointer;

		i {
			font-size: 3rem;
			margin-right: 5px;
		}
	}

	.site-title {
		// display: flex;
		display: none;
		align-items: center;
	}

	.tabs {
		// display: flex;
		display: none;
		align-items: center;
	}

	.burger-btn {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 60px;
		height: 100%;
		background-color: c.$black;
		cursor: pointer;

		&__icon {
			button {
				background: none;

				i {
					color: c.$white;
					font-size: 4rem;
				}
			}

			.fa-bars {
				display: none;
			}
		}

		.active {
			.fa-bars {
				display: block;
			}
			.fa-xmark {
				display: none;
			}
		}
	}
}

.scroll-up {
	transform: translateY(0%);
}
.scroll-down {
	transform: translateY(-150%);
}

.side-nav {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	transform: translateX(100%);
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	background-color: c.$half-dark;

	&__box {
		display: flex;
		align-items: center;
		flex-direction: column;
		margin-top: 50px;
		font-size: 2rem;

		a {
			color: c.$white;
		}

		i {
			color: c.$white;
		}

		.nav-item {
			margin: 15px 0;
			width: 250px;
			padding: 15px;
			text-align: center;
			border: 2px solid #545454;
			cursor: pointer;
		}

		.home {
			width: 100vw;
			margin: 15px 0;
			text-align: center;
			background-image: linear-gradient(-60deg, #16a084a2 0%, #bbf43f7d 100%);
			border: none;
			box-shadow: 0 6px 2px #3a3a3a;
		}

		.social {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			width: 40px;
			padding: 0;
			font-size: 4rem;
			border: none;

			i {
				width: 40px;
				margin: 0 20px;
			}
		}
	}
}

.visible {
	transform: translateX(0);
}

.gradient {
	background-image: c.$main-gradient;
}

// ========================================

// MEDIA =======================================================

@media (min-width: 375px) {
	.side-nav {
		&__box {
			margin-top: 70px;
			.nav-item {
				width: 300px;
				margin: 20px 0;
			}
			.home {
				width: 100vw;
			}

			.social {
				margin-top: 20px;
			}
		}
	}
}
